@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wdth,wght@0,8..144,75..100,100..900;1,8..144,75..100,100..900&display=swap");
html {
	font-size: 18px;

	--app-detail-bar-width: 300px;
	--app-header-bar-height: 3lh;
}
body {
	--text: #040316;
	--background: #dce0e5;
	--on-background: #c6c8cd;
	--primary: #f39039;
	--secondary: #906b5a;
	--accent: #a8b6bd;
	--warn: #ff0000;
	--hover-highlight: rgba(0, 0, 0, 0.35);
}
body.dark-theme {
	--text: #eae9fc;
	--background: #1a1e23;
	--on-background: #33353a;
	--primary: #c6620c;
	--secondary: #a5806f;
	--accent: #425057;
	--warn: #ff0000;
	--hover-highlight: rgba(255, 255, 255, 0.35);
}

* {
	font-family: "Pathway Extreme", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
body {
	background-color: var(--background);
	color: var(--text);

	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
h1 {
	font-weight: 500;
}

span.flex-spacer {
	flex: 1 1 auto;
}

#headbar {
	height: var(--app-header-bar-height);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	box-sizing: border-box;
	border-bottom: 1px solid var(--text);
	padding: 0 1lh;

	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 1lh;
}

#headbar h1 {
	margin-right: 2rem;
}

a {
	display: block;
	font-size: x-large;
	color: var(--text);
	text-decoration: none;
}

#sidebar {
	position: absolute;
	top: 3lh;
	right: 0;
	bottom: 0;
	width: var(--app-detail-bar-width);
	box-sizing: border-box;
}
#content {
	position: absolute;
	top: 3lh;
	right: var(--app-detail-bar-width);
	bottom: 0;
	left: 0;
	padding: 1lh;
	box-sizing: border-box;
	overflow: auto;
}
