@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wdth,wght@0,8..144,75..100,100..900;1,8..144,75..100,100..900&display=swap");
html {
	font-size: 18px;

	--app-detail-bar-width: 300px;
	--app-header-bar-height: 3lh;
}
body {
	/* https://www.realtimecolors.com/?colors=272a49-fef7e7-6c70a3-9ea2c8-4c59ec&fonts=Pathway%20Extreme-Pathway%20Extreme */
	--text: #242634;
	--text-dim: #caccd4;
	--background: #fef7e7;
	--on-background: #feedc4;

	--primary: #5c6093;
	--primary-light: #9194ba;
	--primary-dark: #31334e;

	--secondary: #364c69;
	--secondary-light: #89a2c2;
	--secondary-dark: #1a2533;

	--accent: #405b51;
	--accent-light: #96b5aa;
	--accent-dark: #354b43;

	--warn: #bf616a;
	--success: #a3be8c;
}
body.dark-theme {
	--text: #fef7e7;
	--text-dim: #55505f;
	--background: #242634;
	--on-background: #2d2f3f;

	--primary: #5c6093;
	--primary-light: #9194ba;
	--primary-dark: #31334e;

	--secondary: #364c69;
	--secondary-light: #89a2c2;
	--secondary-dark: #1a2533;

	--accent: #405b51;
	--accent-light: #96b5aa;
	--accent-dark: #354b43;

	--warn: #bf616a;
	--success: #a3be8c;
}

* {
	font-family: "Pathway Extreme", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
body {
	background-color: var(--background);
	color: var(--text);

	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
h1 {
	font-weight: 600;
}

span.flex-spacer {
	flex: 1 1 auto;
}

#headbar {
	height: var(--app-header-bar-height);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	box-sizing: border-box;
	border-bottom: 1px solid var(--text-dim);
	padding: 0 1lh;

	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 1lh;
}

#headbar h1 {
	margin-right: 2rem;
}

a {
	display: block;
	font-size: x-large;
	color: var(--text);
	text-decoration: none;
}

#sidebar {
	position: absolute;
	top: 3lh;
	right: 0;
	bottom: 0;
	width: var(--app-detail-bar-width);
	box-sizing: border-box;
	border-left: 1px solid var(--text-dim);
	padding-left: 1lh;
	padding-top: 0.75lh;
}
#content {
	position: absolute;
	top: 3lh;
	right: var(--app-detail-bar-width);
	bottom: 0;
	left: 0;
	padding: 1lh;
	box-sizing: border-box;
	overflow: auto;
	overflow-x: hidden;
}
